html {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
        margin: 0;
        background-color: #f0f0f0;
}

header {
        display: flex;
        padding: 10px 20px;
        background-color: black;
        align-items: center;
        gap: 20px;
        color: rgb(214, 12, 12);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
}

#header-img {
        height: 75px;
        border: 2px solid rgb(214, 12, 12);
        border-radius: 5px;
}

.header-fake {
        /* Lo suyo sería obtener en una variable la altura de header e insertarla aquí */
        height: 99px; /* = (2*10) + 75 + (2*2) = padding + img + border img */
}

.container {
        background-color: white;
        margin: 20px 15%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 25px;
        text-align: center;
}

.btn {
        margin: 20px;
        padding: 10px 0px; /* Apaño porque si podemos ajustar el width al content, pero height no*/
        width: auto;
        min-width: 80px;

        background-color: rgb(214, 12, 12);
        border-right-color: rgb(214, 12, 12);
        border-bottom-color: rgb(214, 12, 12);
        border-top-color: rgb(264, 62, 62);
        border-left-color: rgb(264, 62, 62);
        border-radius: 15px;

        transition: background-color 0.2s;
}

.btn a {
        padding: 10px;
        border-radius: 15px;

        text-decoration: none;
        color: white;
        font-size: 18px;
}

.btn:hover {
        background-color: rgb(202, 0, 0);
}

.btn:active {
        border-right-color: rgb(264, 62, 62);
        border-bottom-color: rgb(264, 62, 62);
        border-top-color: rgb(214, 12, 12);
        border-left-color: rgb(214, 12, 12);
}