.data{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.container{
    width: 400px;
    margin: 20px;
}

.container img {
    margin-top: 10px;
    height: 250px;
}

p {
    text-align: left;
}

table{
    margin: 20px auto;
    border-collapse: collapse;
}

th, td{
    border-bottom: 1px black solid;
    padding: 10px 20px;
    align-items: center;
}

th {
    background-color:  rgb(214, 12, 12);
    color: white;
}

.item img{ /* Al parecer, si no meto la imagen en un div, height no funciona bien */
    height: 50px;
}