.data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.container {
    width: 500px;
    margin: 20px;
}

.container img {
    margin-top: 10px;
    height: 250px;
}

table {
    margin: 20px auto;
}

.teams{
    border-collapse: collapse;
    width: 100%;
}

.teams th, .teams td{
    border-bottom: 1px black solid;
    padding: 10px 20px;
}

.teams th {
    background-color:  rgb(214, 12, 12);
    color: white;
}

.item img{ /* Al parecer, si no meto la imagen en un div, height no funciona bien */
    height: 50px;
}

form {
    text-align: left;
    margin: 20px; /*No entiendo porque no se solapa con el margen del boton*/
}

.form-group {
    margin-top: 10px;
    font-weight: 600;
}