.data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.container {
    margin: 20px;
    max-width: 800px;
}

#player-photo {
    height: 250px;
}

table {
    margin: 20px auto;
}

.tabhead th {
    background-color: rgb(214, 12, 12);
    color: white;
}

table img {
    height: 50px;
}

form {
    text-align: left;
    margin: 20px; /*No entiendo porque no se solapa con el margen del boton*/
}

.form-group {
    margin-top: 10px;
    font-weight: 600;
}