/* Título principal */
h2{
    font-size: 25px; /*tamaño de letra de texto*/
    text-align: center;
    text-decoration: underline; /*para subrayar el texto de h2 que ponía Nueva Ficha*/
    color:crimson    
}


/*  Formulario  */
form {
    max-width: 250px; /*el formulario tendrá un máximo de 400 pixeles y con esto también se coloca el formulario en el centro*/
    margin: 0 auto; /*con esto ponemos el formulario totalmente en el centro, ni derecha ni izquierda (que esté centrado en la página)*/
}

/* Etiquetas */
label {
    margin-top: 10px;
    font-weight: bold;
    color: crimson /* Con esto se cambia todo los labels a color rojo(nombre, apellidos,posición,nacimiento,nacionaliadad y número de camisetas*/
}

 /* Campo de  entrada*/
.form-control {
    word-wrap: break-word; /*para que las líneas dentro de los campos del formulario no desborden*/
}
.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para los botones */
.btn{
    margin:10px;
    width: fit-content;
}

.btn-guardar { /*para retocar el boton guardar, también se podría haber puesto button y retocarlo en general{...}*/
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 20px /*lo de margin-top es para dejar espacio entre el botón guardar y el resto del formulario*/
}

.btn-salir {
    margin-top: 20px; /* para separar el botón del resto del formulario*/
    padding: 10px 20px;
    background-color: #E74C3C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    
}
.botones-container {
    display: inline; /* Muestra los botones en línea */
}