/* Estilo para los botones */
.btn{
    margin:10px;/*separación entre los botones guardar y salir*/
}

.btn-guardar {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
}

.btn-cancelar {
    background-color: #E74C3C;
    border: none;
    border-radius: 5px;
}
