h2{
    color:crimson
}
label{
    color: crimson /* Con esto se cambia todo los labels a color rojo(nombre, apellidos,posición,nacimiento,nacionaliadad y número de camisetas*/
    
}
div{
    color:black
}
button{
    border: 2px  #f72004 solid;
    height: 50;
     width: 500px;
     background-color: #f9fbfd;
     border-radius: 5px;
     margin: left;
     border-width: 3px;
     text-align: left;
}