body {
    margin: 0;
}

h1, h2, h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    margin-bottom: 20px;
    display: flex;
    background-color: rgb(214, 12, 12);
    align-items: center;
    gap: 20px;
    padding: 20px;
}

header img{
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
}

.title{
    margin: 0 auto;
    text-align: center;
    border: 2px solid rgb(214, 12, 12);
    border-radius: 25px;
    height: fit-content;
    width: fit-content;
    padding: 0 10px;
}