.data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.container {
    margin: 20px;
    max-width: 800px;
}

#player-photo {
    height: 250px;
    max-width: 200px;
    margin-bottom: 20px;
}

table {
    margin: 20px auto;
}

.tabhead th {
    background-color: rgb(214, 12, 12);
    color: white;
}

table img {
    height: 50px;
}

td {
    vertical-align: middle;
}