.search {
    margin-left: auto;
}

.search form {
    display: flex;
    margin: 0;
}

.search form .btn {
    width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: transparent;
    margin-left: 1px;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    border-color: rgba(214, 12, 12, .95);
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
}

.players{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
}

.players a{
    width: 250px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    text-decoration: none;
    color: black;
    font-size: 20px;

    transition: box-shadow 0.2s;
}

.players img{
    height: 250px;
    max-width: 250px;
}

.players p{
    text-align: center;
    margin: 10px;
}

.players a:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.bottom-right-button {
    position: fixed;
    bottom: 1%;
    right: 2%;
}

.bottom-right-button > .btn {
    min-width: 50px;
    border-radius: 10px;
}

.bi-person-fill-add {
    font-size: 1.25em;
}

@media (max-width: 600px) {
    .search form {
            max-width: 250px;
    }
}

@media (max-width: 500px) {
    .search form {
            max-width: 200px;
    }
}