.players{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
}

.players a{
    width: 250px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);

    text-decoration: none;
    color: black;
    font-size: 20px;

    transition: box-shadow 0.2s;
}

.players img{
    height: 250px;
    max-width: 250px;
}

.players p{
    text-align: center;
    margin: 10px;
}

.players a:hover{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

.bottom-right-button {
    position: fixed;
    bottom: 1%;
    right: 2%;
}

.bottom-right-button > .btn {
    min-width: 50px;
    border-radius: 10px;
}